  body{
    background-color: white;
    color: white;
    margin: 0;
  }

a{
  color: white;
  text-decoration: solid;
  font-family: monospace;

}

  #navbar{
    position:fixed;
    top:0px;
    width: 100%;
    z-index: 2;
    height: 15px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding:20px;
    font-size: 20px;
    background-image: url(theme.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    }
    
  #welcome-section{
    
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 45px;
    height:100vh;
    background-image: url(about.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    color:white;
    font-size:20px;
    font-family:monospace;
    background-position: center center;

  
  }
  
#contact{
  position:relative;
  height: 60px;
  top: 30px;
  font-family: monospace;
  background-image:url(theme.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size:20px;
  text-align: center;
}
@media screen and (max-width: 600px) {

  #welcome-section{
    font-size: 15px;
    background-position: center center;
  }
  #contact{
    font-size: 12px;
    display: block;
  }
}

  