  body{
    background-color:rgb(61, 24, 246);
    color: black;
    margin: 0;
   overflow: hidden;
  }
  #navbar{
    position:fixed;
    top:0px;
    width: 100%;
    z-index: 2;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 10px 10px 10px;
    font-size: 30px;
    background-color:rgb(255, 28, 28);
    }
  #welcome-section{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 70px;
    height:80vh;
    background-color: #000;
    color: white;
    font-size:20px;
  }
  
#contact{
  position:relative;
  
  flex-direction:row;
  height: 50px;
  top: 50px;
  font-family: monospace;
  background-color: cadetblue;
  color: black;
  font-size:15px;
  text-align: center;

}
  